<h1 class="logo">TEMPii</h1>

<p>
  Tempii tells you how much warmer or cooler today's temperature is compared to yesterday's. Simply enter a city, and the state's abbreviation.
</p>

<div class="error" data-ng-if="vm.error">
  <p class="error-font">
    {{vm.error}}
  </p>
</div>

<h5>Today In</h5>

<div class="form-group">
  <form>
    <input type="text" data-ng-model="vm.city" placeholder="City" style="text-transform:capitalize" />
    <input type="text" data-ng-model="vm.state" placeholder="NY, CA, FL, IL, VA" style="text-transform:uppercase" />
  </form>
</div>

<h5 data-ng-if="vm.city&&vm.state">It Will Be</h5>
<button type="submit" data-ng-click="vm.search()" data-ng-if="vm.city&&vm.state">Search</button>

<h1 data-ng-if="vm.diffPositive">
  {{vm.diffPositive}}&degF Warmer :)
</h1>
<h1 data-ng-if="vm.diffNegative">
  {{vm.diffNegative}}&degF Colder :(
</h1>
<h5 data-ng-if="vm.diffNegative || vm.diffPositive">Than It Was Yesterday</h5>
